<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbconn" connectionString="Data Source = DESKTOP-1HMA8E2\SQLEXPRESS; Initial Catalog = practic_sgbd; Integrated Security = true"/>
  </connectionStrings>
  <appSettings>
    <add key="select1" value="SELECT * FROM Publishers"/>
    <add key="parent" value="Publishers"/>
    <add key="select2" value="SELECT * FROM Books"/>
    <add key="child" value="Books"/>
    <add key="FKName" value="PublisherBook"/>
    <add key="FKID" value="PublisherID"/>
  </appSettings>
</configuration>